.colonnes{
    display: flex;
    gap: 20px;
}

.colonnes .colonne-1{
    width: 65%;
}

.colonnes .colonne-2{
    width: 35%;
}

.video{
    height: 300px;
    background: grey;
    border-radius: 20px;
}

.meta-editoriale,
.promotion,
.projet{
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
}

.boutons{
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.boutons a{
    padding: 10px;
    border-radius: 20px;
    width: 90px;
    display: block;
}

a.confirmer{
    background: red;
    color: #fff;
}

.content {
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #d9534f;
    text-align: center;
}
.btn-primary {
    background-color: #d9534f;
    border-color: #d9534f;
}
.btn-primary:hover {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.imageMiniature {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.form-control {
    margin-bottom: 15px;
}