h1, h2{
    text-align: center;
}

.colonnes{
    display: flex;
    gap: 10px;
}

.colonne-1,
.colonne-2{
    width: 50%;
}

.colonne-1 p{
    text-align: center;
}

.img{
    border-radius: 10px;
    overflow: hidden;
}

.colonne-2 h2{
    margin-top: 0;
}

.colonne-2 .champ{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
 
.colonne-2 .champ label{
    margin-bottom: 5px;
}

.colonne-2 .champ input{
    height: 25px;
    border-radius: 5px;
    width: 100%;
}

.colonne-2 .champ .inputs{
    display: flex;
    gap: 5px;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btns a{
    background: grey;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}