/* --- Header --- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 12;
    background: #2C3E50 !important;
    padding: 0;
    font-weight: bold;
    font-family: Arial, sans-serif;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    margin : 0 !important;
    padding-right: 10%;
    padding-left: 10%;
    height: 100%;
}

/* --- Logo --- */
.logo-bts img {
    height: 50px;
}

/* --- Barre de recherche --- */
.recherche {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 25px;
    width: 50%;
}

.recherche input {
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    border-radius: 20px 0 0 20px;
}

.recherche button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 100%;
    background-color: #f09520 ;
    border-radius: inherit;
    transition: all 0.2s ease;
}

.recherche button:hover {
    color: #BFBFBF;
}

.logo-search img {
    width: 25px;
    padding: 5px;
}

/* --- Compte utilisateur --- */
.compte {
    position: relative;
}

.compte a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.compte a:hover {
    background: #4A627D;
    transform: scale(1);
}

.logo-compte img {
    width: 30px;
}

/* --- Sous-menu du compte --- */
.compte .sousMenu {
    position: absolute;
    right: 0;
    width: max-content;
    background: #2C3E50;
    border-radius: 10px;
    border: 3px solid #f09520;
    overflow: hidden !important ;
    display: none;
}

.compte .sousMenu a {
    border-radius: 0px;
    padding: 10px;
}

#lienAdmin{
    border-bottom: 1px solid #f09520;
}


/* --- Ajustement du body pour compenser le header fixe --- */
