.swiperVideo{
    padding-bottom: 50px;
} 

.sliderVideo{
    overflow-x: hidden;
    position: relative;
}

.sliderVideo .swiper-slide .miniature{
    background: grey;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.swiper-button-next, 
.swiper-rtl .swiper-button-prev,
.swiper-button-prev, 
.swiper-rtl .swiper-button-next{
    bottom: 0px !important;
    top: unset !important;
}