a.video{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 25px 0;
}

a.video:hover{
    transform: scale(1);
    background: #EEE;
}

a.video .miniature{
    background: grey;
    border-radius: 20px;
    width: 300px;
    height: 150px;
}