.lecteurVideo{
    width: 800px;
    height: 400px;
    background: gray;
    border-radius: 20px;
    margin: auto;
}

.colonnes{
    display: flex;
}

.colonne-1,
.colonne-2{
    width: 50%;
}

.colonne-2{
    display: flex;
    flex-wrap: wrap;
}

.colonne-2 .btnVideo{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.colonne-2 .btnVideo .logo-btnvideo{
    width: 50px;
}