
html {

    overflow-y: scroll;
}



.contenu {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 3%;

}

.container_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;

}

.info_video{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 60px;
    padding-top: 10px;
}


.titre_nom{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.titre_nom h1 , .titre_nom h2 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Variable', sans-serif;
    font-weight: 400; /* Ajustable */
}

.titre_nom h1 {
    font-size: x-large;
    font-weight: bold;

}
.titre_nom h2 {
    font-size: large;
}

.container-button{
    width: auto;
    display: flex;
    min-width: 500px;
    justify-content: end;
    flex-direction: row;
    gap: 15px;
}

.btnVideo {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #2C3E50;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnVideo:hover {
    background-color: #4c5763;
}

#btnSuppr{
    width: auto;
    padding-left: 5% ;
    padding-right: 5% ;
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 700;
    background-color: #f09520;
}

.logo-btnvideo  {

    width: 70%;
    height: 70%;
}



.lecteurVideo{
    width: fit-content;
    height: fit-content;
    background: gray;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    width: 60%;
    height: 60%;
}


.containerDescription{
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: start;
    width: calc(100% - 20px);
    padding: 10px;
    padding-top:0 ;
    padding-bottom:0;
    margin-top: 10px;
    border: solid 1px;
    border-radius: 15px;
    background: #E9E9E9;

}

.description{
    font-family: 'Roboto Variable', sans-serif;
    font-size: 1em;
    font-weight: 400;
}


.toggleDescription {

    font-family: 'Roboto Variable';
    font-size: medium;
    font-weight: 200;
}

.player{
    max-width: 100%;
    max-height: 100% !important
} 

.metadata {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background: #f0f0f0; /* Gris clair */
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #d1d1d1; /* Bordure légère */
}

.colonne {
    flex: 1;
    min-width: 300px;
}

.mtd {
    margin: 8px 0;
    font-size: 16px;
    color: #000; /* Texte en noir */
}

#boutonModif{
    padding-left: 3px;
}

.plyr.plyr--stopped .plyr__controls { display: none }




.metadata_detaillee {
    font-family: Arial, sans-serif;
    width: 40%;
    max-width: 600px;
    margin: 20px auto;
}

.metadata_detaillee table {
    width: 100%;
    border-collapse: collapse;
}

.metadata_detaillee td {
    padding: 8px;
    border: 1px solid #ddd;
}

.metadata_detaillee td:first-child {
    font-weight: bold;
    width: 40%;
    background-color: #f9f9f9;
}